.done{
    background-color: red;
    color: white;
}
li button{
    margin-left: 8px;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
input{
    padding: 20px;
    border-radius: 20px;
    background-color: aquamarine;
    font-size: xx-large;
    
}
button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
ul li{
    font: 500;
    font-size: x-large;
    margin: 10px;
}
